.update-user {
    padding: 15px;
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.update-user label {
    display: block;
    margin-top: 15px;
}

.update-user .btn-submit {
    margin-top: 15px;
    text-align: center;
    cursor: pointer;
}